body {
  font-family: 'Open Sans', sans-serif;
  background: #E9E9E9;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  font-family: 'Lilita One', cursive;
  margin: 25px auto;
}

a {
  text-decoration: none;
  color: #3299BB;
}

img {
  margin-left: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

#image {
  width: 100%;
  text-align: center;
}

#footer {
  max-width: 976px;
  margin: 15px auto;
  text-align: center;
}

#footer p {
  margin-top: 10px;
}

#footer .address {
  margin-top: 30px;
  line-height: 20px;
}
