body {
  font-family: 'Oxygen', sans-serif;
  background: red;
}

h1 {
  background: green;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 100px;
}

img {
  margin-left: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
}

#image {
  background: blue;
  width: 100%;
  text-align: center;
}

#footer {
  max-width: 976px;
  margin: 0 auto;
  text-align: center;
}
